<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evaluation Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div><h2>Managerial Competency Assessment Form</h2></div><br><br>

        <div><h2>Team Management</h2></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Inspirational Leadership</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Keeps people in loop</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Encourage effectiveness of team</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Takes care of the Team</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Positions Self as the Leader</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Compels others to follow his vision</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
    

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Capability Development</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Conveys positive discrepancy</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Provides discretion & guidance</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Gives positive feedback</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Coaches for long term development</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Develops future leaders</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="container">
    

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Team membership</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active listner</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Demonstrates relability</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Shows commitment to learn</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Actively participate in team activities</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Exhibits flexibility as problem solver</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="container">
        <div><h2>Goal Setting & Delivery</h2></div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Planning & Coordinating</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Organising, plans & schedules</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Helps other in Organising</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Considers interrelated activities</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Effectively manages competing priorities</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Plans with a focus on long term goals of the organisation</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="container">
    

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>High Quality Deliverable</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Attention to details</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Verifications of results</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Self monitoring & others</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Positions Self as the Leader</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Proactively manages standards of the deliverables</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="container">
    

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sound Decision Making</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Follows guidelines effectively</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Gathers information for decisions</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Draws conclusions from information</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>weighs complex alternatives</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
                <tr>
                    <td>Makes strategic decisions</td>
                    <td><input type="checkbox" value=""></td>

                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

</body>
</html>

   


    
