<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evaluation Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div><h2 class="text-center"><mark>Skill Competency Assessment Form</mark></h2></div><br><br>

    <div class="container">        
        
        <div class="card" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">Scientist 'F'</h4>
            <p class="card-text">Name : XYZ</p>
            <p>Group: WHDT</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>

        <br><br>     
      
      </div>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>Involvement in job(%)</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Interaction with external agencies</th>
                    <th>Involvement in job(%)</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Interaction with outside agencies</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Cost estimation for testing store</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Technical meeting with outside agencies</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Finalization of the trial layout</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Logistics support management</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Warhead design & development</th>
                    <th>Involvement in job(%)</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>design, development of Warhead</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Modelling & simulation</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Resourse Identification & utilization</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Prototype realization</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Test & Evaluation</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Conduct of Trials</th>
                    <th>Involvement in job(%)</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Interaction with the support group</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Logistic support</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Material/store availability</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Post trial data analysis</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Safety consideration</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trial Site prepartion</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Calculation of the safety distace as per the trials store</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Trial site clearing</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial setup prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Fabrication of gallows & its installation</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trial Instrumentation</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prepartion of the trial directive</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Interaction with support group</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Selection of data acquisition system</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Calibration of the sensor & system</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Synchronization of Instrumentation with explosion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data acquisition & Data analysis</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Acquisition of velocity data</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Processing & analysis of velocity</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Presentation/Preparation of data</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Collection of blast & high speed imaging data from BIDS & HSP group</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Correlation of data</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Report Preparation</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Compilation of velocity, blast & HSP data</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Preparation of trial report</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Issue of trial report to all concerned agencies, if any</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fabrication of Warhead Prototype</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Design/document of Warhead</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Generation of the drawing</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Preparation of QAP, ATP etc</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Fabrication of Warhead</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Testing of Warhead</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project Documentation for Audit</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maintaining all technical document</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Maintaining all fanacial document</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Periodic review of document</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Conduct of audit & maintenance of document</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Reply of audit clarification</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job Work Management</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prepartion of job work requirement</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Security clearance for vendors</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Maintaining the record of job work(daily/during trial)</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Supervision of job work</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Issue of job completion certificate</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <br><br>

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Inspection</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 


    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Trail Planning & Coordination</th>
                    <th>ve</th>
                    <th>CCL</th>
                    <th>RCL</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trial layout plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
                <tr>
                    <td>Instrumentation plan</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Interaction with supporting division</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>TARB meeting</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>


                </tr>
                <tr>
                    <td>Trial directive prepartion</td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>
                    <td><input type="number"></td>

                </tr>
            </tbody>
        </table>
    </div> 

    </body>
    </html>
