<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evaluation Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    
    <div class="container">
        <div><h2>Behavioural Competency Assessment Form</h2></div><br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Emotional strength</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contain emotional outbursts</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Responds calmly</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Stress Management</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>have a soothing presence</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Effective performance during period of prolonged stress</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Inner Strength</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Confident with Job Role</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Confident at the limits of Job roles</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Confident in technical knowledge</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Takes on difficult tasks</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Opts for challenging assignments</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Networking</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Team contribution</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Team membership</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Seeks feedback from others</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Builds networks</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Enchances collabrations</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gregariousness</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Good listening & presentation skills</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Encourages two way dialogue</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Adapts communications to others' needs</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Able to communicate complex messages</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Communicates strategic messages as per the context</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Perceptiveness</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Understands formal structure</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Understands informal structure</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Understands different perceptive sand agenda</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Recognizes coalitions and implications of their agendas</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>predicts the building of coalitions or hidden agendas and its wider implications</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Learning aptitude</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maintains up-to-date knowledge</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Takes initiative to keep abreast of new information</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Devel broader knowledge</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Ensures longer term knowledge</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Seen as a role model</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flexibility</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Understands the need for flexibility</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Accepts need for flexibility</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Applies rules flexibility</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Adapts tactics</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Adapts own strategy</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Inquisitiveness</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Simplifying problems</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Sees basic relationships</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Observes multiple relationships</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Analyses complex relationships</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Develop complex plans</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Improvisation</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creates opportunities</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Anticipating needs & acts</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Rational behaviour</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Identifies opportunities</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Acts for the present</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transformational leadership</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Keeps people in loop</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Encourages effectiveness of team</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Takes care of the Team</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Positions Self as the Leader</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Compels others to follow his vision</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Coaching ability</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Provides direction & guidance</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Gives positive feedback</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Coaches for long term development</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Conveys positive discrepancy</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Develops future leaders</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Team membership</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Active listner</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Demonstrates relability</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Shows commitment to learn</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Actively participate in team activities</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Exhibits flexibility as problem solver</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Resolve for action</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Plans with a focus on long term goals of the organisation</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Manages competing priorities and tasks</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Comsiders interrelated activities efficiently</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Help others in organisation</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Organizes, plans & schedules own work</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Focus on quality</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contribute to overall quality</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Proactively manages standards of the deliverables</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Self-monitoring & monitoring others</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Verifications of results</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Attention to details</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Governing others</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Makes strategic decisions</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Weighs complex alternatives</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Draws comclusions from information</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Gathers imformations for decisions</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Follows guidelines effectively</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>


<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Visionary zeal</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contribute to organisation strategy</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Understands own work</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Identifies strategic imperatives for the organisation</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Develop long term strategies for the organisation</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Aligns work to Division</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Diversification</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Creates a change culture</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Open to change</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Leading organisation level changes according to the strategy/goal</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Suggests ideas for change</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Proactively addresses changes at the divisional level</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>



<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Service orientation</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Discovering social impact</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Device plan to ameliorate the impact</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Collects relevant data</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Generating social capital</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Managing the outcomes</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>

<br><br>

<br><br>

<div class="container">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Awareness about consumer's needs</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Links customer needs to strategy of the organisation</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Institutionalizing improvements</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Recognizing the target customer</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Identification of customer needs</td>
                <td><input type="checkbox" value=""></td>

            </tr>
            <tr>
                <td>Improvising for fulfilment of customer needs</td>
                <td><input type="checkbox" value=""></td>

            </tr>
        </tbody>
    </table>
</div>


</body>

</html>
